// @font-face {
//   font-family: "Omnes";
//   src: local("Omnes Semibold"),
//     url(./assets/fonts/Omnes\ Semibold\ Regular.ttf) format("truetype");
// }

// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
.Body {
  // position: relative;
  height: 100vh;
  flex-grow: 1;
}

.App-header {
  background-image: url("./assets/images/landing-background.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  background-position: 100%;
  background-attachment: fixed;
  height: 95%;
  width: auto;
  //   height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Timeline {
  background-color: #2e6659;
}

.Nav-button {
  size: large;
}

.Landing-Section1 {
  background-color: #ffffff;
  padding-top: 50px;
}

.Landing-Section2 {
  background-color: #2e6659;
  padding-top: 100px;
}

.Footer {
  background-color: #ffffff;
  padding-top: 50px;
}

.landing-img {
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
}

.wwd-block {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 20px;
}

.mission-block {
  background-color: #202020;
  padding: 50px;
  border-radius: 1em;
  box-shadow: 0 3px 0 #0c0c0c;
}

.team-block {
  background-color: #202020;
  padding: 50px;
  border-radius: 3em;
  box-shadow: 0 3px 0 #0c0c0c;
  margin: 30px;
  align-items: center;
  min-width: 200px;
}

.team-block-1 {
  background-color: #202020;
  padding: 30px;
  border-radius: 1em;
  box-shadow: 0 3px 0 #0c0c0c;
  margin: 30px;
}

.team-block-2 {
  margin: 20px;
}

.team-block:hover {
  cursor: pointer;
  transition: 0.6;
  animation: sizeUp 0.6s forwards;
}

.team-block-1:hover {
  cursor: pointer;
  transition: 0.6;
  animation: sizeUp 0.6s forwards;
}

@keyframes sizeUp {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.timeline-bottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}

.timeline-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.timeline-bottom .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .timeline-bottom svg {
    width: calc(118% + 1.3px);
    height: 83px;
  }
}

.team {
  background-color: black;
  padding-top: 100px;
}

.sections-bottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}

.sections-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.sections-bottom .shape-fill {
  fill: #2e6659;
}

.custom-shape-divider-top-1617567759 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1617567759 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 500px;
}

.custom-shape-divider-top-1617567759 .shape-fill {
  fill: #2e6659;
}
/** For mobile devices **/
@media (max-width: 767px) {
  .sections-bottom svg {
    width: calc(118% + 1.3px);
    height: 83px;
  }
}

.navbar {
  box-shadow: "none";
  padding: 30;
  position: "absolute";
  margin: "auto";
  background-color: "transparent";
}

.custom-shape-divider-top-1618082119 {
  position: relative;
  top:0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
  justify-content: flex-end;
}

.custom-shape-divider-top-1618082119 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1618082119 .shape-fill {
  fill: "black";
}


