body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Nav-button{
  padding-right: 50; 
  font-size: 20;
  color: white;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

/* Sponsors Page */

.sponsors-heading {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.sponsors > hr {
  max-width: 50vw;
  /* border: solid 1px #009877; */
  border: none;
  margin-bottom: 20px;
  background: linear-gradient(to left, #00987700, #009877 25%, #009877 75%, #00987700 100%);
  height: 3px;
}

#sponsors-platinum {
  font-size: 2.5em;
}

#sponsors-gold {
  font-size: 2em;
}

#sponsors-silver {
  font-size: 1.5em;
}

#sponsors-silver {
  font-size: 1.25em;
}

.sponsors-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 100px;
  max-width: 1000px;
}

.sponsors-images > a {
  display: flex;
  border-radius: 10px;
  transition: transform 0.2s ease;
  transform: scale(1);
}

.sponsors-images > a:hover {
  display: flex;
  transform: scale(1.1);
}

.sponsors-platinum-image {
  max-height: 150px;
  max-width: 500px;
  padding: 20px;
  margin: auto;
}

.sponsors-gold-image {
  max-height: 125px;
  max-width: 400px;
  padding: 20px;
  margin: auto;
}

.sponsors-silver-image {
  max-height: 100px;
  max-width: 300px;
  padding: 20px;
  margin: auto;
}

.sponsors-bronze-image {
  max-height: 75px;
  max-width: 200px;
  padding: 20px;
  margin: auto;
}

.sponsors-supporters-image {
  max-height: 50px;
  max-width: 100px;
  padding: 20px;
  margin: auto;
}

